<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Car Details</title>
</head>
<body>
  <h1>Car Details</h1>
  <h2>Car VIN# <%= car._id %></h2>
  <h3><%= car.make %> <%= car.model %></h3>
  <p>Detailed: <%= car.detailed ? 'Yes' : 'No' %></p>
  <a href="/cars">Go Back to Inventory</a>
</body>
</html>